html, body{
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif!important;
    letter-spacing: .03rem;
    -webkit-font-smoothing: antialiased;
}

/*@font-face {font-family: 'webfont';*/
    /*src: url('//at.alicdn.com/t/webfont_esl0j5vifc8.eot'); !* IE9*!*/
    /*src: url('//at.alicdn.com/t/webfont_esl0j5vifc8.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!*/
    /*url('//at.alicdn.com/t/webfont_esl0j5vifc8.woff') format('woff'), !* chrome、firefox *!*/
    /*url('//at.alicdn.com/t/webfont_esl0j5vifc8.ttf') format('truetype'), !* chrome、firefox、opera、Safari, Android, iOS 4.2+*!*/
    /*url('//at.alicdn.com/t/webfont_esl0j5vifc8.svg#NotoSansHans-DemiLight') format('svg'); !* iOS 4.1- *!*/
/*}*/

/*.web-font{*/
    /*font-family:"webfont" !important;*/
    /*font-style:normal;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-webkit-text-stroke-width: 0.2px;*/
    /*-moz-osx-font-smoothing: grayscale;*/
/*}*/

::-webkit-scrollbar {
    display: none;
}

.main-layer{
    top: 2.2rem;
    position: relative;
    left: 0;
    height: calc(100% - 2.2rem);
}

a {
    color: coral;
}

.no-padding {
    padding: 0;
}

.no-display {
    display: none;
}

.no-margin {
    margin: 0;
}

.bar {
    background: #fdfdfd;
}

/*.icon.right-switch embed {*/
    /*height: 1.6rem;*/
    /*position: relative;*/
    /*margin-top: -.2rem;*/
    /*margin-right: -.25rem;*/
/*}*/

.right-switch {
    height: 100%;
    min-width: 1.8rem;
    margin-right: -.3rem;
    background: transparent url("assets/images/icons/switch.svg") no-repeat;
    background-position: center;
    background-size: 100% 75%;
}

.nav-indicator {
    position: absolute;
    top: 1.8rem;
    height: .13rem;
    width: 0;
    background-color: coral
}

.bottm-bar embed {
    height: 1.2rem;
}

.bottm-bar table td {
    font-size: .5rem;
    color: #777;
}

.bottm-bar table {
    width: 100%;
}

.bottm-bar .right-buttons {
    width: 30%;
    margin-top: .25rem;
}

div.scrollmenu {
    background: white;
    overflow: auto;
    white-space: nowrap;
    position: fixed;
    width: 100%;
    z-index: 2002;
    top:0;
    left: 0;
    height: 2.2rem;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 6px;
}

div.scrollmenu a.menu-pills {
    display: inline-block;
    text-align: center;
    padding: 0 0.75rem;
    line-height: 2.2rem;
    text-decoration: none;
    color: black;
    font-size: .8rem;
}

div.scrollmenu a.menu-pills.active {
    color: coral;
    font-weight: bold;
}

div.scrollmenu-sub {
    margin-top: 2.2rem;
    position: relative;
    width: 100%;
    padding:0 1%;
}

div.scrollmenu-sub a.menu-pills{
    height: 1.8rem;
    line-height: 1.8rem!important;
    padding: 0!important;
    float: left;
    width: 23%;
    margin: 0.3rem 1% ;
    border-radius: 0.25rem;
    background: aliceblue;
}
div.scrollmenu-sub span.dummy {
    display: none;
}

div.scrollmenu .tab-button{
    position: fixed;
    border: 0;
    right: 0;
    height: 2.2rem;
    width: 2.2rem;
    top: 0;
    background: white;
    background-size: 100% 100%;
}




.infinite-scroll-preloader {
    margin-top:-20px;
}

.img-carousel{
    height: 56vw;
}

    .img-carousel div.img-layer {
        width: 100%;
        height: 100%;
    }

    .img-carousel div.img-layer img{
        width: 100%;
        height: auto;
        min-height: 100%;
    }
    /*.main-carousel button.flickity-button{*/
        /*display: none;*/
    /*}*/
    .img-carousel .text-area {
        position: absolute;
        z-index: 2;
        bottom: 0;
        padding: 0.3rem 0.5rem 0.3rem 0.5rem;
        width: 100%;
        background-color: rgba(0,0,0,0.45);
        /*background: rgba(86,151,255,0) url("assets/images/carousel-background.png") no-repeat;*/
        background-size: 100% 100%;
        /*background-image: linear-gradient(to top, rgba(0, 0, 0, 0.92), rgba(0, 0, 0, 0.77) 25%, rgba(0, 0, 0, 0.41) 50%,rgba(0, 0, 0, 0.22) 70%, transparent);*/
    }
    .img-carousel .text-area span {
        width:80%;
        color: white;
        font-size: 0.8rem;
        letter-spacing: 0.06rem;
    }

.post.content {
    padding-bottom: 3rem;
}
.post .post-card {
    width: 100%;
    background: white;
    padding: .5rem;
    margin-bottom: .5rem;
    position: relative;
}

.post .post-author, .post .post-origin {
    font-size: .85rem;
}

.post .post-card .post-card-titlme {
    color: coral;
    line-height: 1;
    position: relative;
    margin: -0.4rem 0 0 -0.5rem;
    border-bottom: 1px solid #eee;
    width: calc(100% + 1rem);
    padding: .45rem .5rem;
}

.costume-card-1.card{
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #efeff4;
    border-radius: 0;
    box-shadow: unset;
}


.costume-card-1.card span {
    display: block;
    padding: .1rem .35rem .1rem 0;
}

.costume-card-1.card .item-views {
    background: #f1f1f1;
    border-radius: .2rem;
}

.costume-card-1 .item-title-row {

}

.costume-card-1 .item-subcontent {
    font-size: .6rem;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    color: #a8abb0;
    text-overflow: ellipsis;
}

.costume-card-1 .item-media{
    width: 5rem;
    height: 3.75rem;
    /*min-height: 2.82rem;*/
    /*max-height: 3.75rem;*/
    background: #eee url("assets/images/img-background.png") no-repeat;
    background-position: center;
    background-size: 1.6rem 1.6rem;
    overflow: hidden;
    padding-top: 0!important;
    padding-bottom: 0!important;
    position: relative;
    margin-top: .45rem;
    margin-bottom: .45rem;
}

.costume-card-1 .item-media img {
    width: 101%;
    height: 101%;
    position: relative;
    top: 0;
    left: 0;
}

.costume-card-2 .item-row {
    position: relative;
    width: 100%;
    padding-right: .75rem;
}

.costume-card-2 .item-media {
    width: 32.8%!important;
    height: 4rem!important;
    float: left;
}

.costume-card-2 .item-media img {
    height: auto !important;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;!important;
}

.costume-card-2 .item-media:nth-last-of-type(n+2) {
    margin-right: 0.8%;
}

.costume-card-1 .item-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: unset;
    font-size: .8rem;
    line-height: 1.34;
    margin-bottom: .5rem;
}
.costume-card-2 .card-header-costume .item-title {
     margin: 0;
     padding: .45rem .75rem 0 .75rem;
 }

.costume-card-2 .card-footer-costume .item-subcontent {
    margin: 0;
    padding: 0 .75rem .45rem .75rem;
}

.post-card-title {
    color: coral;
}

.post-comment-top {
    position: relative;
    z-index: 20;
    margin: .4rem;
    padding: .2rem .5rem;
    line-height: 1.2;
    vertical-align: middle;
    background: coral;
    border-radius: 2rem;
    color: white;
    font-size: .8rem;
}

.post-comment-input {
    height: 1.8rem;
    margin-top: .35rem;
    margin-left: .4rem;
    border-radius: 0.15rem;
    top: 0;
    position: relative;
    border: 0;
    background: #f1f1f1;
    color: #a8abb0;
    font-size: .73rem;
    font-weight: 600;
    width: 55%;
    padding-left: .3rem;
}

.post-textarea {
    height: unset;
    z-index: 11;
}
.post-comment-submit-bar {
    padding: .4rem .4rem 0 .4rem;
    font-size: .8rem;
}

.post-comment-textarea {
    margin: .4rem;
    width: calc(100% - 0.8rem);
    position: relative;
    border: 1px solid #e7e7e7;
    font-size: .8rem;
    border-radius: 0.15rem;
}

.related-posts .card{
    margin: 0 -.5rem;
}

.popup.popup-content {
    top: -2.2rem;
    background: #efeff4;
    height: calc(100% + 2.2rem);
}

.post-options {
    height: 100%;
    position: fixed;
    width: 100%;
    right: -100%;
    top: 0;
}

.post-option-block {
    padding: .2rem .5rem;
    background-color: white;
    min-height: 2rem;
    position: relative;
}

.post-option-block p{
    margin: .35rem 0;
}

.post-options-content {
    position: absolute;
    background-color: white;
    top: 0;
    right: 0;
    width: 50%;
    top: 2.2rem;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 6px;
}

.post-options-background{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;

}

.theme-dark .post-card, .theme-dark .card, .list-block.theme-dark ul, .theme-dark .list-block ul{
    background-color: #777!important;
}

.list-block .item-inner+.item-media {
    margin-right: .75rem;
}