html, body{
    font-size: 16px;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif!important;
}


.main-layer{
    top: 0;
    margin-top: 2.2rem;
    position: relative;
    left: 0;
    height: 100%;
}

a {
    color: coral;
}

.no-padding {
    padding: 0;
}

.no-display {
    display: none;
}

.no-margin {
    margin: 0;
}

div.scrollmenu {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    position: fixed;
    width: 100%;
    z-index: 2002;
    top:0;
    left: 0;
    height: 2.2rem;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 6px;
}

div.scrollmenu a.menu-pills {
    display: inline-block;
    text-align: center;
    padding: 0 0.75rem;
    line-height: 2.2rem;
    text-decoration: none;
    color: black;
}

div.scrollmenu a.menu-pills.active {
    color: coral;
    font-weight: bold;
}

div.scrollmenu-sub {
    margin-top: 2.2rem;
    position: relative;
    width: 100%;
    padding:0 1%;
}

div.scrollmenu-sub a.menu-pills{
    height: 1.8rem;
    line-height: 1.8rem!important;
    padding: 0!important;
    float: left;
    width: 23%;
    margin: 0.3rem 1% ;
    border-radius: 0.25rem;
    background-color: aliceblue;
}
div.scrollmenu-sub span.dummy {
    display: none;
}

div.scrollmenu .button{
    position: fixed;
    border: 0;
    right: -2px;
    height: 2.2rem;
    width: 2.2rem;
    top: 0;
    background: white;
    background-size: 100% 100%;
}




.infinite-scroll-preloader {
    margin-top:-20px;
}

.img-carousel{
    height: 56vw;
}

    .img-carousel div.img-layer {
        width: 100%;
        height: 100%;
    }

    .img-carousel div.img-layer img{
        width: 100%;
        height: auto;
        min-height: 100%;
    }
    /*.main-carousel button.flickity-button{*/
        /*display: none;*/
    /*}*/
    .img-carousel .text-area {
        position: absolute;
        z-index: 2;
        bottom: 0;
        padding: 1rem 0.5rem 0.3rem 0.5rem;
        width: 100%;
        background: rgba(86,151,255,0) url("assets/images/carousel-background.png") no-repeat;
        background-size: 100% 100%;
        /*background-image: linear-gradient(to top, rgba(0, 0, 0, 0.92), rgba(0, 0, 0, 0.77) 25%, rgba(0, 0, 0, 0.41) 50%,rgba(0, 0, 0, 0.22) 70%, transparent);*/
    }
    .img-carousel .text-area span {
        width:80%;
        color: white;
        font-size: 0.8rem;
        letter-spacing: 0.06rem;
    }

.post .post-card {
    width: 100%;
    background-color: white;
    padding: .5rem;
    margin-bottom: .5rem;
    position: relative;
}

.post .post-author, .post .post-origin {
    font-size: .85rem;
}

.post .post-card .post-card-titlme {
    color: coral;
    line-height: 1;
    position: relative;
    margin: -0.4rem 0 0 -0.5rem;
    border-bottom: 1px solid #eee;
    width: calc(100% + 1rem);
    padding: .45rem .5rem;
}

.costume-card-1.card{
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #efeff4;
    border-radius: 0;
    box-shadow: unset;
}

.costume-card-1 .item-title-row {
    min-height: 2.9rem;
}

.costume-card-1 .list-block .item-subcontent {
    font-size: .6rem;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    color: #a8abb0;
    text-overflow: ellipsis;
}

.costume-card-1 .item-media img {
    width: 5rem;
    max-height: 3.75rem;
}

.costume-card-1 .item-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: unset;
    font-size: .9rem;
    line-height: 1.34;
}

.post-comment-top {
    position: relative;
    z-index: 20;
    margin: .4rem;
    padding: .2rem .5rem;
    line-height: 1.2;
    vertical-align: middle;
    background: coral;
    border-radius: 2rem;
    color: white;
    font-size: .8rem;
}

.post-comment-input {
    height: 1.8rem;
    margin-top: .35rem;
    margin-left: .4rem;
    border-radius: 0.15rem;
    top: 0;
    position: relative;
    border: 1px solid #e7e7e7;
    font-size: .8rem;
    width: 55%;
    padding-left: .3rem;
}

.post-textarea {
    height: unset;
    z-index: 11;
}
.post-comment-submit-bar {
    padding: .4rem .4rem 0 .4rem;
    font-size: .8rem;
}

.post-comment-textarea {
    margin: .4rem;
    width: calc(100% - 0.8rem);
    position: relative;
    border: 1px solid #e7e7e7;
    font-size: .8rem;
    border-radius: 0.15rem;
}